@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IHubStore HubStore
@inject IState<PlaylistState> State

<div class="p-3 d-flex justify-content-around">
    <MatIconButton Icon="@MatIconNames.Volume_up" ToggleIcon="@MatIconNames.Volume_off"></MatIconButton>
    <MatIconButton Icon="@MatIconNames.Skip_previous" Disabled="(State.Value?.CurrentSong == null || !State.Value.PreviousSongs.Any())" OnClick="Previous"></MatIconButton>
    <MatIconButton Icon="@(State.Value?.IsPlaying == true ? MatIconNames.Pause : MatIconNames.Play_arrow)" Disabled="State.Value?.CurrentSong == null" OnClick="TogglePlay"></MatIconButton>
    <MatIconButton Icon="@MatIconNames.Skip_next" Disabled="(State.Value?.CurrentSong == null || !State.Value.NextSongs.Any())" OnClick="Next"></MatIconButton>
    <div>
        @State.Value.Elapsed.ToDurationString() / @((State.Value.CurrentSong?.Duration ?? default).ToDurationString())
    </div>
</div>
<MySlider Value="@State.Value.Elapsed.TotalMilliseconds" Discrete="true" Pin="true" ValueMin="0d" ValueMax="@((State.Value.CurrentSong?.Duration ?? default).TotalMilliseconds)" TValue="double"></MySlider>

@code {
    private static IHubStore _hubStore;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _hubStore = HubStore;
    }

    [JSInvokable("Controls.Previous")]
    public static async Task Previous()
    {
        await _hubStore.PreviousSong();
    }

    [JSInvokable("Controls.Next")]
    public static async Task Next()
    {
        await _hubStore.NextSong();
    }

    private async Task TogglePlay()
    {
        await HubStore.ToggleSong();
    }
}
